/*font*/
@import "_font";
// old bootstrap css
@import "bootstrap_old";

html, body{
  font-family: 'Times New Roman','Abel', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,00000c+48,0d0d0f+48,b5bdc8+100 */
  background: rgb(40,52,59); /* Old browsers */
}
.row{
  margin-bottom: 20px;
  margin-top: 10px;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }
a :hover {
  color: #3E4142;
  text-decoration: underline; }

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #222222;
  border-color: #080808; }
footer p {
  color: black; }
footer .nav-footer {
  color: black;
  font-size: 16px; }
footer .nav-footer a {
  text-decoration: none; }
footer .nav-footer :hover {
  color: whitesmoke; }
footer ul li {
  border-left: 1px solid black;
  padding-left: 5px; }

.social .fa-twitter-square {
  color: #55acee;
  text-decoration: none; }
.social .fa-youtube-square {
  color: #e52d27;
  text-decoration: none; }
.social .fa-facebook-square {
  color: #4c66a4;
  text-decoration: none; }

/*****************************/
/**** = CSS Zone du site ****/
/****************************/

@import "scss_webzone/core";

@import "scss_webzone/manga";
